<div class='modal'>
  <div class='team-modal__container'>
    <!-- кнопка закрытия -->
    <button type='button' class='team-modal__close'>
      <i class='fas fa-times'></i>
    </button>
    <h1 class='team-modal__caption'>Developers</h1>
    <ul class='team-modal__teammate-list'>
      <!-- это должно рендериться -->
      <li class='team-modal__teammate'>
        <div class='team-modal__content'>
          <img class='team-modal__image' src='../../images/developers/dmitry.jpg' alt='Dmitry' />
        </div>
        <a
          href='https://github.com/Dmitry-Gorelkin'
          class='ref'
          target='_blank'
          rel='noopener norefferer'
        >
          <h2 class='team-modal__title'>Dmitry<br />Gorelkin</h2>
          <i class='fab fa-github'></i>
          <p class='team-modal__data'>Tech Lead</p>
        </a>
      </li>
      <li class='team-modal__teammate'>
        <div class='team-modal__content'>
          <img class='team-modal__image' src='../../images/developers/tanya.jpg' alt='Tanya' />
        </div>
        <a
          href='https://github.com/TanyaKuchma27'
          class='ref'
          target='_blank'
          rel='noopener norefferer'
        >
          <h2 class='team-modal__title'>Tanya<br />Kuchma</h2>
          <i class='fab fa-github'></i>
          <p class='team-modal__data'>Scrum Master</p>
        </a>
      </li>
      <li class='team-modal__teammate'>
        <div class='team-modal__content'>
          <img
            class='team-modal__image'
            src='/Film_collection/nataliia.83ce239d.jpg'
            alt='Nataliia'
          />
        </div>
        <a
          href='https://github.com/NaThaleia'
          class='ref'
          target='_blank'
          rel='noopener norefferer'
        >
          <h2 class='team-modal__title'>Nataliia<br />Miekh</h2>
          <i class='fab fa-github'></i>
          <p class='team-modal__data'>Team Lead</p>
        </a>
      </li>
      <li class='team-modal__teammate'>
        <div class='team-modal__content'>
          <img
            class='team-modal__image'
            src='../../images/developers/nadejda.jpg'
            alt='Nadejda'
          />
        </div>
        <a
          href='https://github.com/Siniavskay-Nadejda'
          class='ref'
          target='_blank'
          rel='noopener norefferer'
        >
          <h2 class='team-modal__title'>Nadejda<br />Siniavskay</h2>
          <i class='fab fa-github'></i>
          <p class='team-modal__data'>Developer</p>
        </a>
      </li>
      <li class='team-modal__teammate'>
        <div class='team-modal__content'>
          <img class='team-modal__image' src='/Film_collection/nazar.7276c1ea.jpg' alt='Nazar' />
        </div>
        <a
          href='https://github.com/Shynal-Nazar'
          class='ref'
          target='_blank'
          rel='noopener norefferer'
        >
          <h2 class='team-modal__title'>Nazar<br />Shynal</h2>
          <i class='fab fa-github'></i>
          <p class='team-modal__data'>Developer</p>
        </a>
      </li>
      <li class='team-modal__teammate'>
        <div class='team-modal__content'>
          <img class='team-modal__image' src='/Film_collection/marina.8a3ec884.jpg' alt='Marina' />
        </div>
        <a
          href='https://github.com/Mirakuru9799'
          class='ref'
          target='_blank'
          rel='noopener norefferer'
        >
          <h2 class='team-modal__title'>Marina<br />Hrytsai</h2>
          <i class='fab fa-github'></i>
          <p class='team-modal__data'>Developer</p>
        </a>
      </li>
      <li class='team-modal__teammate'>
        <div class='team-modal__content'>
          <img
            class='team-modal__image'
            src='/Film_collection/aleksandr.79cc5cbd.jpg'
            alt='Aleksandr'
          />
        </div>
        <a
          href='https://github.com/Aleksandr-Pod'
          class='ref'
          target='_blank'
          rel='noopener norefferer'
        >
          <h2 class='team-modal__title'>Aleksandr<br />Podmazko</h2>
          <i class='fab fa-github'></i>
          <p class='team-modal__data'>Developer</p>
        </a>
      </li>
      <li class='team-modal__teammate'>
        <div class='team-modal__content'>
          <img class='team-modal__image' src='/Film_collection/squid.9d0cbb67.jpg' alt='squid' />
        </div>
        <a
          href='https://github.com/SergiyShevchuk'
          class='ref'
          target='_blank'
          rel='noopener norefferer'
        >
          <h2 class='team-modal__title'>Sergiy<br />Shevchuk</h2>
          <i class='fab fa-github'></i>
          <p class='team-modal__data'>Developer</p>
        </a>
      </li>
    </ul>
  </div>
</div>