// Карта цветов:

// черный цвет текста
$primary-color: #000;
// цвет текста
$secondary-color: rgba(84, 84, 84, 1);
// белый основной цвет
$main-color: #ffffff;
//цвет бекграунда
$background-color: #e5e5e5;
// второй оранжевый цвет элементов
$accent-color: #ff6b08;
// цвет кнопочек
$accent-color-focus: #ff6b01;
