<div class="container">
  <div class="filter-container">
    <ul class="filter-list">
      <li class="filter-list-item">
        <label class="filter-lable" for="Genre">Genre</label>
        <select id="Genre" name="Genre">
          <option value="Action" selected>All Genre</option>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Fantasy">Fantasy</option>
        </select>
      </li>
      <li class="filter-list-item">
        <label class="filter-lable" for="Year">Year</label>
        <select id="Year" name="Year">
          <option value="Action" selected>All Year</option>
          <option value="Adventure">2022</option>
          <option value="Fantasy">2021</option>
        </select>
      </li>
      <li class="filter-list-item">
        <label class="filter-lable" for="Popularity">Popularity</label>
        <select id="Popularity" name="Popularity">
          <option value="xs">Extra Small</option>
          <option value="s">Small</option>
          <option value="m" selected>Medium</option>
          <option value="l">Large</option>
        </select>
      </li>
    </ul>
  </div>
</div>
