<div class="filter-container container hidden">
  <ul class="filter-list">
    <li class="filter-list-item">
      <label class="filter-lable" for="genre">Genre</label>
      <select class="js-filter-genres label-styles" id="genre" name="genre"></select>
    </li>
    <li class="filter-list-item">
      <label class="filter-lable" for="year">Year</label>
      <select class="js-filter-years label-styles" id="year" name="year"></select>
    </li>
    <li class="filter-list-item">
      <label class="filter-lable" for="year">Original Language</label>
      <select class="js-filter-language label-styles" id="language" name="language"></select>
    </li>
    <li class="filter-list-item">
      <label class="filter-lable" for="year">Vote Average</label>
      <select
        class="js-filter-vote_average label-styles"
        id="vote_average"
        name="vote_average"
      ></select>
    </li>
  </ul>
</div>
