<div class="container">
  <div class="filter-container">
    <ul class="filter-list">
      <li class="filter-list-item">
        <label class="filter-lable" for="genre">Genre</label>
        <select class="js-filter-genres" id="genre" name="genre"></select>
      </li>
      <li class="filter-list-item">
        <label class="filter-lable" for="year">Year</label>
        <select class="js-filter-years" id="year" name="year"></select>
      </li>
      <li class="filter-list-item">
        <label class="filter-lable" for="Popularity">Popularity</label>
        <select id="Popularity" name="popularity">
          <option value="" selected>ALL Popularity</option>
          <option value="Extra Small">Extra Small</option>
          <option value="Small">Small</option>
          <option value="Medium">Medium</option>
          <option value="Large">Large</option>
        </select>
      </li>
    </ul>
  </div>
</div>
