<footer class="footer">
  <div class="footer-container">
    <div class="footer-wrapper">
      <p class="footer-top">©&nbsp; 2022 | All Rights Reserved |&nbsp;</p>
    </div>
    <div class="footer-wrapper footer-bottom">
      <p class="footer-bottom">
        Developed with&nbsp;
        <i class="fas fa-heart"></i>&nbsp; by&nbsp;
      </p>
      <button class="team-modal-btn" type="button" data-modal-team-open>
        <span class="team-modal-btn__styles">NiceTeam</span>
      </button>
    </div>
  </div>
</footer>
