<header class=" header header_imageHome">
  <div class="header__container container ">
    <nav class="content">
      <h1>
        <a class="header__link" href="#">
          <img class="header__logo" src="./images/film.png" alt="logo" />
          <p class="header__logoTitle">Filmoteka</p>
        </a>
      </h1>
      <ul class="header__navList">
        <li><a class="header__navListLink current home" href="#">Home</a></li>
        <li><a class="header__navListLink library" href="#">My library</a></li>
      </ul>
    </nav>
    <form class="search-film-form" action="">
      <div class="search-film-inputs">
      <input placeholder="Поиск фильмов" class="some-input " type="text" />
     
     <button class="submit"></button>
    </div>
    <div>
     <p class="search-errors is-hidden">Search result not successful. Enter the correct movie name</p>
      </div>
     
    </form>
    <!-- Змінено щоб ховати цілий блок зразу -->
    <!-- <div class="library-navigation">
      <button type="button" class=" watched-btn is-hidden orange ">
        Watched
      </button>
      <button type="button" class=" queue-btn is-hidden">Queue</button>
    </div> -->
    <div class="library-navigation is-hidden">
      <button type="button" class=" watched-btn orange watched">
        Watched
      </button>
      <button type="button" class=" queue-btn queue">Queue</button>
    </div>
    </div>
  </div>
</header>
