<main class="hero container">
  <div class="invalid hidden">
    <div class="invalid_text">
      <p class="not-find">Nothing has been found.</p>
      <p>
        Please enter another movie title or use our selection of
        <span class="top">TOP-20</span> films for today.
      </p>
      <p>Maybe you are interested in something.</p>
    </div>
    <ul class="top-list list"></ul>
  </div>
  <div class="empty-text hidden js-empty">
    <h2>Empty...</h2>
    <p>It's still empty here.</p>
  </div>
  <ul data-index="gallery" class="gallery films__list" id="filmList"></ul>
  <!-- <include src="./partials/pagination.html"></include> -->
</main>
