<main class="hero container">
  <div class="invalid hidden">
    <div class="invalid_text">
      <p class="not-find">Ничего не найдено.</p>
      <p>
        Введите другое название фильма или воспользуйтесь нашей подборкой <span class="top">ТОП-20</span> фильмов на сегодня.
      </p>
      <p>Возможно, Вас что-то заинтересует.</p>
    </div>
    <ul class="top-list list"></ul>
  </div>
  <div class="empty-text hidden">
    <h2>Empty...</h2>
    <p>It's still empty here.</p>
  </div>
  <ul data-index="gallery" class="gallery films__list" id="filmList"></ul>
  <!-- <include src="./partials/pagination.html"></include> -->
</main>
