<div class="pagination__container is-hidden">
  <!-- <div class="pagination__container_pages">
        <div class="pagination-arrow arrow_left"></div>
        <div class="pagenumbers" id="pagination"></div>
        <div class="pagination-arrow arrow_right"></div>
    </div> -->
  <div class="pagination__wrapper_pages">
    <div class="pag-arrow arrow_left" data-page="Previos"></div>
    <div class="first-page page" data-page="1">1</div>
    <div class="all-pages" id="pagination"></div>
    <div class="last-page page" data-page></div>
    <div class="pag-arrow arrow_right" data-page="Next"></div>
  </div>
</div>
