<div class="pagination__container is-hidden">
  <!-- <div class="pagination__container_pages">
        <div class="pagination-arrow arrow_left"></div>
        <div class="pagenumbers" id="pagination"></div>
        <div class="pagination-arrow arrow_right"></div>
    </div> -->
  <ul class="pagination__wrapper_pages">
    <li class="pag-arrow arrow_left" data-page="Previos"></li>
    <li class="first-page page" data-page="1">1</li>
    <li class="all-pages" id="pagination"></li>
    <li class="last-page page" data-page></li>
    <li class="pag-arrow arrow_right" data-page="Next"></li>
  </ul>
</div>
