<div class="pagination__container is-hidden">
    <!-- <div class="pagination__container_pages">
        <div class="pagination-arrow arrow_left"></div>
        <div class="pagenumbers" id="pagination"></div>
        <div class="pagination-arrow arrow_right"></div>
    </div> -->
    <div class="left-arrow" data-page="Previos">Previos</div>
    <div class="first-page" data-page="1">1</div>
    <div class="all-page"></div>
    <div class="last-page" data-page></div>
    <div class="right-arrow" data-page="Next">Next</div>
</div>