<div class="backdrop-modal-form is-hidden-modal-form" data-form-modal>
<!-- <div class="backdrop-modal-form" data-form-modal> -->
    <div class="modal-form">
        <img src="./images/film.jpg" alt="фильм" class="foto-film">
        <div class="modal-info-film">
            <h3 class="modal-title">A FISTFUL OF lead</h3>
            <table class="modal-table">
                <tr>
                    <td class="modal-left">Vote / Votes</td>
                    <td class="modal-right"><span class="modal-vote">7.3</span> / 1260</td>
                </tr>
                <tr>
                    <td class="modal-left">Popularity</td>
                    <td class="modal-right">100.2</td>
                </tr>
                <tr>
                    <td class="modal-left">Original Title</td>
                    <td class="modal-right modal-right-title">A FISTFUL OF LEAD</td>
                </tr>
                <tr>
                    <td class="modal-left">Genre</td>
                    <td class="modal-right">Western</td>
                </tr>                
            </table>
            <p class="modal-about">About</p>
            <p class="modal-text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
            been double crossed – but by who and how?</p>
            <div class="modal-btns">
                <button class="modal-btn modal-btn-main">add to Watched</button>
                <button class="modal-btn">add to queue</button>
            </div>
        </div>
        <button type="button" class="modal-close" data-form-modal-close>
            <i class="fas fa-times"></i>
        </button>
    </div>        
</div>