.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 75px;
    padding-right: 75px;
    max-width: 768px;
  }
  @media screen and (min-width: 1024px) {
    padding-left: 71px;
    padding-right: 71px;
  }
}
