.header {
  height: 230px;
  background-color: rgba(0, 0, 0, 0.56);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header_imageHome {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/rectangle2-min.jpg);
  animation-name: opacity;
  animation-duration: 1000ms;
}
@keyframes opacity {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.header_imageLibrery {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/rectangle1-min.jpg);
  animation-name: opacity2;
  animation-duration: 1000ms;
}
@keyframes opacity2 {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.header__container {
  padding-top: 60px;
}

.content {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: baseline;
}
.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__logo {
  width: 25px;
  height: 24px;
  margin-right: 1rem;
}
.header__logoTitle {
  display: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: #ffffff;
  // letter-spacing: 1px;
  // margin-top: 2px;

  @media (min-width: 768px) {
    display: block;
  }
}
.header__navList {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}
.header__navListLink {
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding: 0;
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;

  text-transform: uppercase;
}
.header__navListLink:first-child {
  margin-right: 40px;
}
// .header__navListLink :after {
//   position: absolute;
//   left: 0px;
//   width: 100%;
//   height: 5px;
//   border-bottom: 3px solid #ff6b08;
//   opacity: 0;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .current::after {
//   opacity: 1;
// }

.current {
  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -1px;
    opacity: 1;
    background-color: #ff6b08;
    border-radius: 2px;
    animation-name: move;
    animation-duration: 1000ms;
  }
}

@keyframes move {
  0% {
    transform: scale(0);
    transform-origin: center;
  }

  100% {
    transform: scale(1);
    transform-origin: center;
  }
}
// .header__navListLink:hover {
//   border-bottom: 3px solid #ff6b08;
// }

.header__navList > li:first-child {
  margin-right: 3rem;
}
.some-form {
  text-align: center;
}

.header__navList > li:first-child {
  margin-right: 1rem;
}

.search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-film-form {
  // width: 35%;

  position: relative;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    // width: 360px;
    width: 340px;
  }
}
.search-film-inputs {
  position: relative;
  width: 100%;
}
.search-film-form input {
  border: none;
}

.search-film-form .some-input {
  background: #eee;
  color: #555;
  outline: none;
  background: none;
  // padding: 1px;
  width: 100%;
  max-width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  border-bottom: 0.5px solid #ffffff;

  &::placeholder {
    text-align: left;
    color: #ffffff;
    padding-left: 3px;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    width: 100%;
  }
}
.search-film-form .submit {
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  outline: none;
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(../images/search2.png) 50% no-repeat;
  color: #ffffff;
  border: none;
  &:hover {
    opacity: 0.8;
  }
}
.search-errors {
  display: block;
  margin-top: 22px;
  font-size: 14px;
  line-height: 1.6;
  color: #ff001b;
  @media screen and (min-width: 768px) {
    width: 380px;
  }
}
.library-navigation {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 48%;
  @media screen and (min-width: 768px) {
    top: 65%;
    left: 50%;
  }
  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.watched-btn-header,
.queue-btn-header {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  margin-left: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: #ffffff;
  background-color: inherit;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    width: 129px;
  }
}
.orange {
  background-color: #ff6b01;
  border: #ff6b01;
}

// переключатель темы

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
  position: absolute;
  right: 0;
  top: 180px;
}
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  fill: #ffffff;
  height: 25px;
  width: 25px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 34px;
  height: 16px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #ff6b01;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(17px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #ff6b01;
}
