.pagination__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;
}

.all-pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pag-arrow {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-position: center;
  border: none;
  background-color: #fff;
  transition: background-color 0.25s ease-in;
  border-radius: 5px;

  &:hover {
    background-color: #ff6b08;
    color: #ffffff;
    border-radius: 5px;
  }

  &:active {
    background-color: green;
  }
}

.arrow_left {
  background-image: url(../../src/images/pagination/arrow-left.svg);
  background-repeat: no-repeat;
}

.arrow_right {
  background-image: url(../../src/images/pagination/arrow-right.svg);
  background-repeat: no-repeat;
}

.threeDots {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;

  border: none;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  padding: 10px 0px 1px 0px;
  border-radius: 5px;

  /* добавили ховер и фокус на точки так как они стали активные - Дима */
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .threeDots {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px 0px 1px 0px;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

@media screen and (min-width: 768px) {
  .threeDots {
    display: inline-block;
  }
}

/* добавили ховер и фокус на точки так как они стали активные - Дима */
.threeDots:hover,
.threeDots:focus {
  cursor: pointer;
  background-color: #ff6b08;
  color: #ffffff;
  border-radius: 5px;
}

.pagination__wrapper_pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;

  transition: 0.5s;
  color: #000000;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  font-style: normal;
  background-color: #fff;
  border-radius: 5px;

  &:hover,
  :focus {
    background-color: #ff6b08;
    color: #ffffff;
    border-radius: 5px;
  }
}

.is-disabled {
  pointer-events: none;
  background-color: #c4c0c0;
}

.active {
  background-color: #ff6b08;
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 400px) {
  .page li {
    width: 38px;
    height: 38px;
    margin: 3px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
}

@media screen and (max-width: 767px) {
  .pag-arrow {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
}
