.backdrop-modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.56);
  opacity: 1;
  z-index: 115;

  @media screen and (min-width: 768px) {
    padding: 231px 75px;
  }

  @media screen and (min-width: 1024px) {
    padding: 100px 71px;
  }
  //   transition: opacity $cubic;
  transition: opacity 350ms cubic-bezier(0.8, 0.4, 0.3, 0.9);
}

.is-hidden-modal-form {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  //   transition: opacity $cubic, visibility $cubic;
  transition: opacity 350ms cubic-bezier(0.8, 0.4, 0.3, 0.9),
    visibility 350ms cubic-bezier(0.8, 0.4, 0.3, 0.9);
}

.backdrop-modal-form.is-hidden-modal-form .modal-form {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal-form {
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 48px 20px 40px 20px;
  width: 280px;
  height: auto;
  background: #ffffff;

  transform: translate(-50%, 0%) scale(1);
  //   transition: transform $cubic;
  transition: transform 350ms cubic-bezier(0.8, 0.4, 0.3, 0.9);

  @media screen and (min-width: 768px) {
    display: flex;
    width: 618px;
    padding: 42px 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-foto-film {
  width: 240px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 478px;
  }
}

.modal-info-film {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 32px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 30px;
  }
}

.modal-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.17;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}

.modal-table {
  margin-top: 20px;
}

.modal-left {
  color: #8c8c8c;
  padding-right: 20px;
  padding-bottom: 10px;

  @media screen and (min-width: 1024px) {
    padding-right: 41px;
  }
}

.modal-right {
  padding-left: 20px;
  padding-bottom: 10px;

  @media screen and (min-width: 1024px) {
    padding-left: 41px;
  }
}

.modal-vote {
  background-color: #ff6b01;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.modal-right-title {
  text-transform: uppercase;
}

.modal-about {
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal-text {
  line-height: 1.67;
  margin-bottom: 20px;
}

.modal-btns {
  display: flex;
}

.modal-btn {
  width: 110px;
  min-height: 44px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }

  &:focus,
  &:hover {
    background-color: #ff6b01;
    color: #ffffff;
    border: 1px solid #ff6b01;
  }
}

.modal-watched {
  margin-right: 15px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  //   transition: background-color $cubic;
  transition: color 350ms cubic-bezier(0.8, 0.4, 0.3, 0.9);

  color: #000000;

  &:focus,
  &:hover {
    color: #ff6b01;
  }
}
