.team-modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  min-width: 245px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // для светлой темы
  // background: $main-color;
  background: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  overflow: auto;
}
.team-modal__caption {
  color: $secondary-color;
  margin: 0 auto 20px;
  @media screen and (min-width: 768px) {
    margin: 0 auto 30px;
  }
}
.team-modal__close {
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  // для светлой темы
  // background: $main-color;
  background-color: transparent;

  transition: color 0.5s cubic-bezier(0.8, 0.4, 0.3, 0.9);
  color: $secondary-color;
  // для светлой темы
  // color: $primary-color;

  &:focus,
  &:hover {
    color: $accent-color-focus;
  }
}

.team-modal__image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
}
.team-modal__teammate-list {
  width: 280px;
  height: 50%;
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -15px;
  margin-top: -15px;
  @media screen and (min-width: 768px) {
    width: 680px;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1024px) {
    width: 750px;
  }
}
.ref {
  text-decoration: none;
}
.team-modal__teammate {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: calc(50% - 15px);
  min-width: 80px;
  margin-left: 15px;
  margin-top: 15px;
  box-shadow: 0 0 20px hsl(0deg 0% 55% / 50%);
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(33.33% - 30px);
    min-width: 100px;
    max-width: 140px;
  }
  &:focus,
  &:hover {
    transition: 0.5s;
    box-shadow: 0 0 20px rgb(250 119 12 / 90%);
  }
}
.team-modal__title {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: $accent-color-focus;
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 18px;
  }
}
.team-modal__data {
  display: inline-block;
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 12px;
  // для светлой темы
  // color: $primary-color;
  color: $secondary-color;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
  }
}
.fa-github {
  font-size: 18px;
  color: rgb(250 119 12 / 30%);
  @media screen and (min-width: 578px) {
    font-size: 30px;
  }
}
